# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vue.js (CLI ou Vite)
dist/
build/
public/build/
.vite/

# Arquivos de Cache e temporários
.cache/
.temp/
*.log
*.tmp
.DS_Store

# Sistema operacional
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos do VSCode
.vscode/
*.code-workspace


# Arquivos de mapas de fonte
*.map

# Ambiente
.env
.env.*.local
.env.local

# Arquivos do navegador
*.bak
*.swp

# Test coverage
coverage/

# QRious build minificado --> adicionei a pasta js por inteiro pois o arquivo index.html está dentro da pasta qrcode tambem.
js/
qrious.min.js
qrious.min.js.map

# Imagem da captura de tela
img/

